.books {
  position: absolute;
  width: 810px;
  height: 890px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  right: 35px;
  top: 160px;
  padding-top: 30px;
  visibility: visible;
  opacity: 1;
}

.books_hide {
  visibility: hidden;
  opacity: 0;
}

.books_list {
  position: relative;
  width: 810px;
  height: 780px;
  overflow: hidden;
  margin-top: 40px;

  &_content {
    position: relative;
    width: 810px;
    height: 100%;
    overflow-y: auto;
  }
}

.books_list_cover {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 356px;
  margin: 0 16px 40px 0;
  float: left;
  overflow: hidden;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

.books_search {
  .books_list_content_item {
    position: relative;
    width: 100%;
    min-height: 150px;
    padding-left: 170px;
    margin-bottom: 30px;

    .books_list_cover {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 0;
      width: 120px;
      height: 150px;
      background: #fff;
      img {
        width: 100%;
      }
    }

    .book_list_info {
      height: auto;
      min-height: 150px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d8d8d8;

      .name {
        font-size: 32px;
        line-height: 46px;
        color: #fff
      }

      p {
        color: #666;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
      }
    }
  }
}


