
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('http://pjirfnf0s.bkt.clouddn.com/single01.png');
  background-repeat: no-repeat;
}

.wrapper_lightBlue {
  background-image: url('http://pjirfnf0s.bkt.clouddn.com/single02.png');
}

.wrapper_mulity {
  float: left;
  width: 956px;
  overflow: hidden;
}

.cover {
  position: absolute;
  width: 230px;
  height: 325px;
  display: inline-block;
  bottom: 24px;
  left: 55px;
}

.cover img {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  width: 410px;
  height: 100%;
  left: 288px;
  top: 0;
  padding: 30px 30px;
}

.info_small {
  width: 260px;
  padding: 30px 0px 30px 10px;
}

.info_title {
  line-height: 48px;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
}

.info_author {
  line-height: 52px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 60px;
}

.info_author_small {
  padding-bottom: 30px;
  margin: 0 0;
}

.info_price {
  line-height: 32px;
  font-size: 28px;
  padding-bottom: 20px;
  margin: 0 0;
  color: #fff;
}

.info_price span {
  font-size: 48px;
}

.info_pricing {
  margin: 0 0;
  line-height: 32px;
  font-size: 28px;
  padding-bottom: 20px;
  text-decoration: line-through;
  color: #fff;
}

.intro {
  position: absolute;
  padding: 140px 10px 10px;
  width: 666px;
  height: 270px;
  top: 0;
  right: 30px;
  background-image: url('http://pjirfnf0s.bkt.clouddn.com/bg3.png');
  background-repeat: no-repeat;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
}

.intro_lightBlue {
  background-image: url('http://pjirfnf0s.bkt.clouddn.com/bg4.png');
}

.intro_hidden {
  display: none;
}