body {
  background: #36363c;
}

.app {
  position: relative;
  width: 1080px;
  height: 3840px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 620px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 620px;
  overflow: hidden;

  &-wrapper {
  }

  &-list {
    width: 1080px;
    float: left;
    height: 620px;
  }
}

.wrapper {
  width: 1080px;
  height: 3220px;
  margin: 0 auto;
  position: relative;
	z-index: 1;
  background: #36363c;
  overflow: hidden;
}
