{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "never"],
    "strict": 0,
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "no-multi-assign": 0,
    "func-names": 0,
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "no-plusplus": 0,
    "max-len": 0,
    "no-confusing-arrow": 0,
    "no-param-reassign": 0,
    "react/sort-comp": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "camelcase": 0,
    "generator-star-spacing": 0,
    "react/prop-types": 0,
    "prefer-template": 0,
    "no-unused-vars": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "prefer-destructuring": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/named": 0,
    "nonblock-statement-body-position": 0
  }
}
