<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bookstore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
  <link rel="stylesheet" href="{{ helper.loadStaticUrl('common.css') }}">
  <link rel="stylesheet" href="{{ helper.loadStaticUrl(entry + '.css') }}">
  <script>
    {{ helper.getAppDataScript(appData) | safe }}
  </script>
</head>
<body>
<div id="__content"></div>
<script src="{{ helper.loadStaticUrl('common.js') }}"></script>
<script src="{{ helper.loadStaticUrl(entry + '.js') }}"></script>
</body>
</html>
