
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BookStore</title>
		<meta charset="utf-8"/>
		<meta name="theme-color" content="#1e88e5"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, initial-scale=1.0"/>
		<link rel="manifest" href="/public/manifest.json"/>
		<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" href="{{ helper.loadStaticUrl('common.css') }}">
    <link rel="stylesheet" href="{{ helper.loadStaticUrl(entry + '.css') }}">
    <script>
      {{ helper.getAppDataScript(appData) | safe }}
    </script>
	</head>
	<body>
		<div id="__content"></div>
		<script>
			// function handleBookEvent(isbns) {
			// 	alert('hello', isbns);
			// }
			(function (doc, win) {
				var docEl = win.document.documentElement;
				var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
				var metaEl = doc.querySelector('meta[name="viewport"]');
				var dpr = 0;
				var scale = 0;

				// 对iOS设备进行dpr的判断，对于Android系列，始终认为其dpr为1
				if (!dpr && !scale) {
					var isAndroid = win.navigator.appVersion.match(/android/gi);
					var isIPhone = win.navigator.appVersion.match(/[iphone|ipad]/gi);
					var devicePixelRatio = win.devicePixelRatio;

					if(isIPhone) {
						dpr = devicePixelRatio;
					} else {
						drp = 1;
					}
					
					scale = 1 / dpr;
				}

				/**
					* ================================================
					*   设置data-dpr和viewport
					× ================================================
					*/

				docEl.setAttribute('data-dpr', dpr);
				// 动态改写meta:viewport标签
				if (!metaEl) {
					metaEl = doc.createElement('meta');
					metaEl.setAttribute('name', 'viewport');
					metaEl.setAttribute('content', 'width=device-width, initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
					document.documentElement.firstElementChild.appendChild(metaEl);
				} else {
					metaEl.setAttribute('content', 'width=device-width, initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
				}

			})(document, window);
    </script>
    <script src="{{ helper.loadStaticUrl('common.js') }}"></script>
    <script src="{{ helper.loadStaticUrl(entry + '.js') }}"></script>
</html>
