.app {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  background: #282622;
}

.warpper {
  position: relative;
  width: 1920px;
  height: 1080px;
}

.title {
  position: relative;
  width: 970px;
  height: 77px;
  background-image: url('http://pjirfnf0s.bkt.clouddn.com/title.png');
  background-position: 76px 15px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #b2bd21;
}