
.map {
  position: absolute;
  display: block;
  left: 0;
  top: 180px;
  width: 970px;
  height: 890px;
  padding-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.floor {
  position: relative;
  width: 580px;
  height: auto;
  margin-top: -50px;
  margin-bottom: -40px;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  transition: width .3s linear;
}

.floor img {
  width: 100%;
}

.areas {
  position: absolute;
  width: 220px;
  height: auto;
  right: 0px;
  top: 0px;
  opacity: 1;
}

.area {
  display: block;
  width: 160px;
  height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.location {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('http://pl7xwypp4.bkt.clouddn.com/here.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.point {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('http://pl7xwypp4.bkt.clouddn.com/point.png');
  background-repeat: no-repeat;
  background-size: contain;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

.point:before {
  position: absolute;
  background: white;
  margin-left: -8px;
  width: 30px;
  height: 30px;
  bottom: 0;
  top: 12px;
  content: "";
  display: block;
  border-radius: 50%;
  animation: wave-animate 3s infinite ease-out;
  transform: rotateX(45deg);
  perspective-origin: center bottom;
}

.point:after {
  position: absolute;
  background: white;
  margin-left: -8px;
  width: 30px;
  height: 30px;
  bottom: 0;
  top: 12px;
  content: "";
  display: block;
  border-radius: 50%;
  animation: wave-animate 3s infinite ease-out;
  opacity:0;
  animation: wave-animate 3s 1.5s infinite ease-out;
  transform: rotateX(45deg);
  perspective-origin: center bottom;
}

@keyframes wave-animate {
  0% {
    transform: rotateX(45deg) scale(0);
    opacity: 0.8;
    perspective-origin: center bottom;
    // transform-origin: center;
  }
  100% {
    transform: rotateX(45deg) scale(3);
    opacity: 0;
    perspective-origin: center bottom;
    // transform-origin: center;
  }
}

.info {
  font-size: 16px;
  color: #fff;
  text-align: left;
  padding-bottom: 10px;

  .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-right: 10px;

    &-wc {
      background-image: url('http://pl7xwypp4.bkt.clouddn.com/wc.png');
      background-repeat: no-repeat;
      background-position: 5px 0;
    }
    
    &-here {
      display: inline-block;
      background-image: url('http://pl7xwypp4.bkt.clouddn.com/here.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 5px 0;
    }
  }
  .text {
    font-size: 16px;
    display: inline-block;
  }
}

.layer {
  text-align: left;
  color: #fff;

  &-name {
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #e1eb3d;
    margin-bottom: 10px;

    &:after {
      position: absolute;
      bottom: -3px;
      right: 0;
      content: ' ';
      width: 5px;
      height: 5px;
      border-radius: 3px 3px;
      background: #e1eb3d;
    }
  }

  &-catalog {
    font-size: 14px;
  }

  &-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 0;

    &-item {
      line-height: 18px;
      font-size: 12px;
      padding: 0 10px 10px 0;
  
      .color {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 5px;
        float: left;
        text-align: center;
      }
      
      .text {
        float: left;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}

.map_zoom {
  width: 100%;

  .floor {
    width: 1200px;
    margin-bottom: -100px;
    margin-left: 100px;
  }

  .areas {
    position: fixed;
    width: 460px;
    right: 150px;
    top: 190px;

    .layer {
      &-name {
        font-size: 24px;
        margin-bottom: 6px;
      }

      &-catalog {
        font-size: 16px;
      }

      &-area {
        padding: 16px 0;

        &-item {
          font-size: 16px;
          padding-right: 20px;

          .color {
            width: 24px;
            height: 24px;
          }

          .text {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .point, .location {
    width: 50px;
    height: 50px;
  }

  .point:before,
  .point:after {
    margin-left: -15px;
    width: 50px;
    height: 50px;
    bottom: 0;
    top: 24px;
  }
}

.map_hidden {
  opacity: 0;
  visibility: hidden;
}
