.app {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #4e4e4e;
  background-image: url('https://bookstore-public.oss-cn-hangzhou.aliyuncs.com/di.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.channel {
  position: relative;
  width: 100%;
  height: 890px;
}